<p id="notice"><%= notice %></p>

<h2>
  <%= @restaurant.name %>
</h2>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @restaurant.stars %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>

<%= render 'comments/form', restaurant: @restaurant, comment: @comment %>
<%= render 'comments/card', comments: @comments %>


